/* font link  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");

/* link  */
/* font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif; */

/* common */
.card-bg {
  background-color: #0f172a;
  height: 100%;
}
.hr-style {
  border: 2px solid rgb(180, 253, 255);
  width: 70px;
  box-shadow: 1px 1px 2px rgb(195, 237, 243);
}
.body-bg {
  background-color: #0f172afa;
}
.g-font1 {
  font-family: "Poppins", sans-serif;
}
.g-font2 {
  font-family: "Roboto", sans-serif;
  color: #dff9fb;
}
/* header start  */
.header-bg {
  background-color: #0b1120;
}
header nav img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #222c44;
}
header nav ul li a {
  color: #fff;
}
.dropdown-bg {
  background-color: #9ca6b9;
}
/* slider start  */
.slider-bg {
  background-color: #0f172a;
  height: 90vh;
}
/* achievement start  */
.achievement-card {
  height: 100%;
}

/* skill start  */
.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
}
.pie-value {
  display: block;
  position: absolute;
  font-size: 14px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
}
/* about start  */

/* social start  */
.social-bg {
  background-color: #0f172a;
  height: 100%;
}
.social ul {
  list-style: none;
}
.social ul li {
  width: 50px;
  height: 45px;
  border: 1px solid #fff;
}
.social ul li:hover {
  border: 1px solid rgb(222, 43, 36);
}
.social ul li a {
  text-decoration: none;
  color: #fff;
}
/* footer start  */
footer {
  background-color: #0b1120;
  height: 50px;
}
