/* font link  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");

/* link  */
/* font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif; */

/* common */
.card-bg {
  background-color: #0f172a;
  height: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.card-bg:hover {
  /* background-color: #050125b0; */
  background-color: #080722;
  box-shadow: 0px 1px 4px rgba(139, 222, 247, 0.548);
}
.hr-style {
  border: 2px solid rgb(180, 253, 255);
  width: 70px;
  box-shadow: 1px 1px 2px rgb(195, 237, 243);
}
/* .body-bg {
  background-color: #0f172afa;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
main {
  background-color: #0f172afa;
  background-image: url("../images/background.svg");
}
.g-font1 {
  font-family: "Poppins", sans-serif;
}
.g-font2 {
  font-family: "Roboto", sans-serif;
  color: #dff9fb;
}
/* header start  */
.header-bg {
  background-color: #0b1120;
}
.header-font-size {
  font-size: 18px;
}
header nav img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #222c44;
}
header nav ul li a {
  color: #fff;
}
.dropdown-bg {
  background-color: #9ca6b9;
}
/* slider start  */
.slider-bg {
  background-color: #0f172a;
  height: 90vh;
}
.slider-img {
  width: 100%;
}
/* achievement start  */
.achievement-card {
  height: 100%;
}

/* skill start  */
.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
}
.pie-value {
  display: block;
  position: absolute;
  font-size: 14px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
}
/* about start  */
.about-myself {
  height: 100%;
  cursor: pointer;
}
.about-myself:hover {
  background-color: #0b1120;
  box-shadow: 0px 1px 5px rgba(139, 221, 247, 0.692);
}
/* social start  */
.social-bg {
  background-color: #0f172a;
  height: 100%;
}
.social ul {
  list-style: none;
}
.social ul li {
  width: 50px;
  height: 45px;
  border: 1px solid #fff;
}
.social ul li:hover {
  border: 1px solid rgb(222, 43, 36);
}
.social ul li a {
  text-decoration: none;
  color: #fff;
}
/* footer start  */
footer {
  background-color: #0b1120;
  height: 50px;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .slider-img {
    width: 70%;
  }
  .header-font-size {
    font-size: 18px;
  }
}
@media only screen and (max-width: 375px) {
  .header-img {
    width: 45px;
    height: 45px;
  }
  .header-font-size {
    font-size: 14px;
  }
  .header-button {
    font-size: 13px;
  }
}
